USE [master]
GO
/****** Object:  Database [UxComexDesafio]    Script Date: 18/04/2023 01:50:11 ******/
CREATE DATABASE [UxComexDesafio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UxComexDesafio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UxComexDesafio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UxComexDesafio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UxComexDesafio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UxComexDesafio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UxComexDesafio]
GO
/****** Object:  Table [dbo].[Enderecos]    Script Date: 18/04/2023 01:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enderecos](
	[Enderecoid] [int] IDENTITY(1,1) NOT NULL,
	[Pessoaid] [int] NULL,
	[EnderecoNome] [varchar](255) NOT NULL,
	[Cep] [varchar](20) NOT NULL,
	[Cidade] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Enderecoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 18/04/2023 01:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[Pessoaid] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Cpf] [varchar](50) NOT NULL,
	[Telefone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pessoaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enderecos]  WITH CHECK ADD FOREIGN KEY([Pessoaid])
REFERENCES [dbo].[Pessoas] ([Pessoaid])
GO
USE [master]
GO
